{{!-- <style>
  body {
      background-image: url("../images/girl-bg.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    h1, p {
      color: aliceblue;
    }
    label {
      color: aliceblue;
    }
  </style>
--}}
{{!-- Photo by rawpixel.com from Pexels --}}
<div class="parallax">

  <div class="container">
    <div id="title-box">
      <h1 id="title">Friend Finder</h1>
    </div>
  </div>
</div>

<div class="container">
  <div id="landing-box">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h1>Friend Finder</h1><p>is a compatibility-based companion maker application.
      Sort of like a dating app, this full-stack site will take in your results
      from a short entertaining survey then compare your answers with those from other users.
      Once submitted you will see the name and picture of your best overall friend match.</p>
      
      <h3>Ready to get started?</h3>
      <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Continue</button><a>
          <br/>
          <br/>
          <p class="black"><a href="/login">Or log in here</a><p>
    </div>
  </div>
  </div>
</div>

<div class="parallax2"></div>

